.controller

  .setup
    text-align: center
    margin-top: 50px

  .loading
    display: none

  .error
    display: none

  .controls
    display: none

    img
      -webkit-user-select: none;
      -webkit-touch-callout: none;

    .button
      width: 50%
      float: right

    .analog1
      position: absolute
      top: 0
      left: 0
      width: 50%

    .analog2
      position: absolute
      top: 0
      left: 0
      width 35%
